
<div class="legocard">
    <div class="legocard__content">

        <div class="legocard__details">

            <div class="legocard__header">
                <h1>{{name}}</h1>
                <h4>Collection : {{collection}}</h4>
                <div>
                    <span>{{pieces}} pièces, </span>
                    <span>{{price}}€</span>
                </div>
            </div>
    
            <div>
                <p class="text">{{description}}</p>
            </div>
    
            <div class="legocard__social">
                <ul>
                    <li><i class="material-icons">share</i></li>
                    <li><i class="material-icons"></i></li>
                    <li><i class="material-icons">chat_bubble</i></li>
                </ul>
            </div>
        </div>

        <div class="legocard__image">
           <img src="./assets/{{image-bg}}" alt="background lego card">
        </div>
    
    </div>
</div>